.info, .error {
  position: fixed;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem;
  left: 75%;
  top: 10%;
  border-radius: 7px;
  text-align: center;
  border: 1px solid;
  border-color: var(--c-green-500);
}

.info {
  font-size: large;
  background-color: var(--c-green-100);
  color: var(--c-green-900);
}

.error {
  font-size: large;
  background-color: var(--c-red-500);
  color: var(--c-red-900);
}