.signInBg {
  display: flex;
  justify-content: center;
}

.signIn {
  display: flex;
  justify-content: center;
  background-color: var(--c-gray-200);
  margin-top: 2rem;
  padding: 2rem;
  width: 300px;
  border-radius: 7px;
}

.inputForm {
  padding-top: 3px;
  margin: 3px;
}

button {
  margin-top: 5px;
  margin: 3px;
  padding: 2px;
  border: 2px;
  border-radius: 5%;
}

input {
  padding: 4px;
  border: 2px;
  border-radius: 5%;
  background-color: var(--c-gray-300);
}