.inputForm {
  padding-top: 3px;
  margin: 3px;
}

button {
  margin-top: 5px;
  margin: 3px;
  padding: 2px;
  border: 2px;
  border-radius: 5%;
}

input {
  padding: 4px;
  border: 2px;
  border-radius: 5%;
  background-color: var(--c-gray-5);
}