.profile {
  padding-top: 1.5rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  border-radius: 7px;
}

.profileBg {
  display: flex;
  justify-content: center;
}

.profileNav {
  font-weight: 600;
}

.entryContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
