.link, .activeLink {
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid transparent;
  display: inline-flex;
  font-weight: 600;
}

.link {
  color: var(--c-text-secondary);
}

.link:hover {
  transition: 0.35s ease;
  color: var(--c-text-primary);
  border-color: var(--c-blue-500);
}

.activeLink {
  transition: 0.25s ease;
  color: var(--c-text-primary);
  border-color: var(--c-blue-500);
}

.tab {
  display: inline-flex;
  padding-right: 1.5rem;
}
