.link, .activeLink {
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 2px solid transparent;
  display: inline-flex;
}

.link {
  color: var(--c-text-tertiary);
}

.link:hover {
  transition: 0.35s ease;
  color: var(--c-text-primary);
  border-color: var(--c-text-primary);
}

.activeLink {
  transition: 0.25s ease;
  color: var(--c-text-primary);
  border-color: var(--c-text-primary);
}

.tab {
  display: inline-flex;
}
