.registerBg {
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  background-color: var(--c-gray-200);
  margin-top: 2rem;
  padding: 2rem;
  width: 500px;
  border-radius: 7px;
}